<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Html css Layout</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div class="contenu">
    <header>
      <h1>HTML CSS Layout</h1>
      <p>Apprenez a layouter votre site web</p>
    </header>
    <div class="navbar">
      <ul class="nav">
        <li class="nav-item">
          <a href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a href="#">A propos</a>
        </li>
        <li class="nav-item">
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
    <section>
      <div class="container">
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="card-image-container">
                <img src="./assets/img/ousseynou.jpg" alt="Ousseynou" class="card-image">
              </div>
              <h2 class="card-title">Card 1</h2>
              <p class="card-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, veniam.</p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-image-container">
                <img src="./assets/img/ousseynou.jpg" alt="Ousseynou" class="card-image">
              </div>
              <h2 class="card-title">Card 1</h2>
              <p class="card-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, veniam.</p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-image-container">
                <img src="./assets/img/ousseynou.jpg" alt="Ousseynou" class="card-image">
              </div>
              <h2 class="card-title">Card 1</h2>
              <p class="card-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, veniam.</p>
            </div>
          </div>
        </div>




      </div>
    </section>
    <footer>
      <p>Copyright 20222 - Ousseynou</p>
    </footer>
  </div>

</body>

</html>